/* My code */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

select:active {
    outline: none;
}

select:focus {
    -moz-outline-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.container .are-you {
    width: 100%;
    height: 47px;
    margin: 46px 0px 0px 0px;
    background: url(/debt/images/are-you.png) center top no-repeat;
}

.container .one-pixel {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.container .see-if-you-qualify {
    width: 657px;
    height: 92px;
    margin: 25px 0px 0px 95px;
    background: url(/debt/images/see-if-you-qualify.png) left top no-repeat;
}

.container .happy-family {
    width: 100%;
}

.container .input-area {
    width: auto;
    height: 169px;
    margin: 0px 0px 0px 0px;
    background: url(/debt/images/red-arrow.png) no-repeat;
    background-position: 33px 78px;
}

.container .input-area .hidden {
    display: none;
}

.container .input-area .title-caption-employment-status {
    background: url(images/step-emp-status-caption.png) no-repeat;
    background-position: 0px 65px;
}

.container .input-area .title-caption-repay-per-month {
    background: url(images/step-repay-per-month.png) no-repeat;
    background-position: 0px 65px;
}

.container .input-area .step-ten-input {
    padding: 0px 0px 0px 55px;
}

.container .step-ten-input .zip-code {
    width: 55%;
    height: 36px;
    color: #999;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    float: left;
    margin-left: -15px;
}

.container .step-seven .step-ten-button {
    padding-top: 20px;
}

.hidden-dot {
    display: none;
}

.container .input-area .button-spacer {
    margin-top: 20px;
}

.container .see-if-qualify {
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    border: 0;
    background: #0069D9;
    color: #fff;
    margin-top: 6px;
    width: 30%;
}

.container .input-area .form-title {
    width: 100%;
    height: 50px;
    color: #0069D9;
    font-size: 25px;
}

.container .input-area .start_here_title {
    width: 100%;
    color: #0069D9;
    font-size: 25px;
}

.container .input-area .input-holder {
    width: 100%;
}

.container .input-holder select,
option {
    font-size: 20px;
    color: #030303;
    /*margin-top:4px;*/
}

.container .input-holder option {
    padding: 0px 10px;
}

.container .input-holder select {
    width: 100%;
    height: 40px;
    background: #fff;
}

.container .styled-select {
    width: 100%;
    height: 40px;
    background: transparent;
    border: transparent;
    margin-left: 0;
}

.step-indicator {}

.step-indicator ul {
    margin: 0px;
    padding: 0px;
}

.step-indicator ul li {
    width: 15px;
    height: 15px;
    float: left;
    margin: 0px 8px 0px 0px;
    padding: 0px;
    background: #999;
}

.step-indicator ul li.blue-dot {
    background: #2044CA;
}

.step-indicator ul li.ash-dot {
    background: #999;
}

.container .form-image {
    margin: 0px 0px 0px 95px;
    padding: 25px 0px 0px 0px;
}

.container .blue-area-first {
    width: 100%;
    height: 264px;
    margin: 0px 0px 0px 0px;
    background: url(/debt/images/blue-area-first.png) left top no-repeat;
}

.container .if-you-owe {
    width: 100%;
    height: 26px;
    margin: 35px 0px 0px 0px;
    background: url(/debt/images/if-you-owe.png) center top no-repeat;
}

.container .gold-coins {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

.container .gold-coins-1 {
    width: 160px;
    height: 259px;
    float: left;
    margin: 23px 0px 0px 96px;
    background: url(/debt/images/gold-coins-1.png) center bottom no-repeat;
}

.container .gold-coins-2 {
    width: 140px;
    height: 259px;
    float: left;
    margin: 23px 0px 0px 60px;
    background: url(/debt/images/gold-coins-2.png) center bottom no-repeat;
}

.container .gold-coins-3 {
    width: 134px;
    height: 259px;
    float: left;
    margin: 23px 0px 0px 73px;
    background: url(/debt/images/gold-coins-3.png) center bottom no-repeat;
}

.container .gold-coins-4 {
    width: 164px;
    height: 259px;
    float: left;
    margin: 23px 0px 0px 60px;
    background: url(/debt/images/gold-coins-4.png) center bottom no-repeat;
}

.container .your-individual-results {
    width: 100%;
    height: 12px;
    margin: 26px 0px 20px 0px;
    background: url(/debt/images/your-individual-results.png) center top no-repeat;
}

.container .blue-area-second {
    width: 100%;
    height: 312px;
    margin: 0px 0px 0px 0px;
    background: url(/debt/images/blue-area-second.png) left top no-repeat;
}

.container .how-do-we-help {
    width: 100%;
    height: 28px;
    margin: 38px 0px 20px 0px;
    background: url(/debt/images/how-do-we-help.png) center top no-repeat;
}

.container .how-do-text {
    width: 787px;
    height: auto;
    margin: 0px auto 0px auto;
    font-size: 17px;
    line-height: 24px;
    color: #535353;
}

.container .how-do-text p {
    padding-bottom: 30px;
    text-align: justify;
}

.container .recent-settlements {
    width: 100%;
    height: 21px;
    margin: 10px 0px 0px 0px;
    background: url(/debt/images/recent-settlements.png) center top no-repeat;
}

.container .debt-chart {
    width: 100%;
    height: 573px;
    margin: 10px 0px 0px 0px;
    background: url(/debt/images/debt-chart.png) center top no-repeat;
}

.container .click-here-to-get-started {
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
    background: url(/debt/images/check-if-button-bg.png) center top no-repeat;
    padding: 46px 0px 0px 0px;
}

.container .click-here-to-get-started a.check-if-button {
    width: 513px;
    height: 76px;
    display: block;
    margin: 0px auto;
    background: url(/debt/images/check-if-button.png) left top no-repeat;
}

.container .click-here-to-get-started a.check-if-button:hover {
    background: url(/debt/images/check-if-button.png) right top no-repeat;
}

.container .button-shadow {
    width: 100%;
    height: 63px;
    margin: 0px 0px 0px 0px;
    background: url(images/button-shadow.png) center top no-repeat;
}

.container .footer {
    width: 935px;
    height: 294px;
    margin: 0px 0px 0px 22px;
    overflow: hidden;
    background: url(/debt/images/footer-bg.png) top repeat-x;
}

.container .footer a {
    color: #c3c3c2;
    text-decoration: none;
}

.container .footer a:hover {
    text-decoration: underline;
}

.container .footer-text {
    width: 785px;
    height: 222px;
    margin: 30px auto 0px auto;
    color: #c3c3c2;
    font-size: 13px;
}

.container .disclaimer {
    height: 180px;
    line-height: 16px;
    text-align: justify;
    background: url(images/disclaimer-bg.png) center bottom no-repeat;
}

.container .footer .links {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.container .footer .copyright {
    text-align: center;
    padding: 7px 0px 0px 0px;
}

.container-clean {
    width: 844px;
    height: 369px;
    overflow: hidden;
    margin: 0px auto 0px auto;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    background: url(images/checking-congratulations-bg.png) center top no-repeat;
}

.container-clean .checking-if-you-qualify {
    width: 844px;
    height: 369px;
    overflow: hidden;
    background: url(images/checking-if-you-qualify-bg.png) no-repeat;
    background-position: 11px 12px;
}

.container-clean .qualify-result {
    width: 844px;
    height: 291px;
    overflow: hidden;
    background: url(images/congratulations-bg.png) no-repeat;
    background-position: 11px 11px;
}

.container-clean .searching-for-availability {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 140px 0px 0px 0px;
}

.container-clean .loading-if-you-qualify {
    padding: 25px 0px 0px 330px;
}

.container-clean .claim-your-spot {
    padding: 140px 0px 0px 240px;
}

.container-clean .hidden {
    display: none;
}

.red-comment {
    margin-left: 10px;
    width: 20px;
    margin-top: -4px;
    position: relative;
    padding-top: 0px;
}

.red-comment:hover {
    margin-top: -24px;
    padding-top: 20px;
}

.red-comment .popup {
    display: none;
    left: 19px;
    top: -62px;
    width: 296px;
    height: 60px;
    cursor: default;
    background-color: #fcfecd;
    border: 1px solid #254969;
    color: #2e506e;
    font-size: 13px;
    padding: 10px 14px;
    position: absolute;
    text-align: justify;
    z-index: 10;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

.red-comment:hover .popup {
    display: block
}

.bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}
