/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/


/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:400,600,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.margin-50 {
    margin-top: 50px;
}

.padding-0 {
    padding: 0px;
}


/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

.welcome-area {
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    background-position: center;
}


/*
=========----------------------------------=========
            3.Template Position Css     
=========----------------------------------=========
*/

.welcome-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: 0.3;
}


/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

.welcome-tbl-heading h3 {
    font-family: 'Dancing Script', cursive;
}

.welcome-area {
    height: 650px;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
}

.welcome-heading {
    margin-bottom: 50px;
}

.welcome-heading h2 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 170px;
}

.welcome-tbl-heading span {
    display: block;
    font-family: raleway;
    font-size: 20px;
}

.welcome-tbl-heading button {
    cursor: pointer;
}


/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            7.Modal Area Css     
=========----------------------------------=========
*/

.styled-select select {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.step-ten-input input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 0 10px;
}


/*
=========----------------------------------=========
            10.Answe Area Css     
=========----------------------------------=========
*/

.ans-content i.icofont {
    font-size: 35px;
    border-radius: ;
}

.ans-content i {
    width: 75px;
    height: 75px;
    border: 1px solid #999;
    border-radius: 50%;
    padding: ;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 15px;
    transition: .3s;
}

.ans-content:hover.ans-content i {
    background: #079DD5;
    color: #fff;
    border-color: #079DD5;
}

.ans-txt p {
    font-size: 15px;
    margin-top: 70px;
    border-top: 1px solid #ddd;
}


/*
=========----------------------------------=========
            10.Owe Area Css     
=========----------------------------------=========
*/

#owe {
    background-image: url(../img/ans3.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#owe {
    position: relative;
    z-index: 1;
    color: #fff;
}

#owe:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
    z-index: -1;
}

.row.text-center h3 {
    font-size: 40px;
    margin-top: 100px;
}

.row.text-center h5 {
    font-weight: 300;
}


/*
=========----------------------------------=========
            10.Statement Area Css     
=========----------------------------------=========
*/

.atatement-content p {
    text-align: justify;
    font-size: 15px;
}


/*
=========----------------------------------=========
            10.check Area Css     
=========----------------------------------=========
*/

#check {
    background-image: url(../img/ans.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#check {
    position: relative;
    z-index: 1;
    color: #fff;
}

#check:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: .5;
}

#check Button {
    padding: 10px 20px;
    background: #0069D9;
    border: 0;
    color: #fff;
    cursor: pointer;
}

#foot-top p {
    text-align: justify;
}


/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-right {
    background: #0069D9;
    color: #fff;
    padding: 40px 0;
}

.copy-right p {
    margin-bottom: 0;
}

.copy-right span {
    font-weight: bold;
}


/*
=========----------------------------------=========
            10.Page 02 Hero Area Css     
=========----------------------------------=========
*/


/*
    Home 02
*/

.hero-form {
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.hero-form:after {
    left: 10px;
    top: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: 5px;
}

.hero-form-header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.hero-form-header h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.hero-form input {
    width: 100%;
    padding: 0 10px;
}

.hero-form input[type="submit"] {
    width: 100%;
    display: block;
    background-color: #0069D9;
    color: #fff;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.hero-form-wrapper input[type="checkbox"] {
    /*  width: 20px;
    margin-left: -2px;
    float: left;
    */
}

.hero-form-wrapper textarea {
    width: 100%;
    padding: 5px 10px;
    resize: none;
}

.hero-area {
    background-image: url(../img/welcome%2002.jpg);
    background-color: #26A0F8;
}

.boxed-btn {
    background-color: #0069D9
}

.mainmenu li a:hover {
    color: #06D6A0;
}

.hero-area {
    color: #ffffff;
    background-size: cover;
    background-position: center;
    line-height: 1.8;
    padding-bottom: 80px;
    padding-top: 50px;
    height: 650px;
}

.hero-area h1 {
    color: #ffffff;
    font-size: 45px;
    margin-top: 90px;
}

.condition p {
    font-size: 10px;
    line-height: 1.2;
}

.help li {
    position: relative;
    padding-left: 46px;
}

.help li:after {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    font-family: icofont;
    font-size: 26px;
}


/*
=========----------------------------------=========
            Chart Area Css     
=========----------------------------------=========
*/

#chartContainer {
    height: 300px;
    width: 100%;
    margin-top: 60px;
}

.cart-txt {
    margin-top: 105px;
}

.cart-txt h3 {
    margin-bottom: 38px;
}


/*
=========----------------------------------=========
            tbl Area Css     
=========----------------------------------=========
*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #0069D9;
    z-index: 99;
    color: #0069D9;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #0069D9;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0069D9;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                Preloader 2 PAGE CSS                      |
 -------------------=======================----------------
*/

.loar-design {
    position: relative;
    z-index: 1;
    padding: 110px 0;
}

.load-pic-02 {
    position: absolute;
    z-index: 11;
    bottom: 35%;
    left: 50%;
    margin-left: -84px;
}

.load-pic-01 {
    width: 827px;
    height: 349px;
    margin: 0 auto;
    border: 4px solid #254969;
}


/*********************************************/

.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 8.2s infinite ease-in-out;
    animation-duration: sk-rotateplane 8.2s infinite ease-in-out;
    /*
    -webkit-animation-duration: 15s;
    animation-duration: 15s;*/
    transition: 10s;
}
